body {
    background-color: #b3d1ff ;
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title{
    display: flex;
    flex-flow: row wrap;
    border-radius: 20px;
    justify-content: space-around;
    background-color: whitesmoke;
    margin-bottom: 40px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    flex: none;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.card-answer, .card-title{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card-answer{
    display: none;
}

.card-button{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #b3d1ff ;
    background-color: whitesmoke;
    color: #80b3ff;
    
}